{:name "MAGIC Compiler"
 :description "Morgan And Grand Iron Clojure Compiler"
 :author "Ramsey Nasser"
 :source-paths ["src"]
 :references ["references/Constants.dll"
              "references/Interfaces.dll"]
 :dependencies [[:maven nasser/mage "0.0.2-SNAPSHOT"]
                [:github nasser/test.check "master"]
                [:maven org.clojure/tools.analyzer "0.6.9"]]}
